<script lang="ts" setup>
import { useStorage } from "@vueuse/core";

/**
 * Type imports
 */
import type { IFaction } from "~/types/faction";

/**
 * Composables
 */
const route = useRoute();
const indexStore = useIndexStore();
const factions = useFactionsStore();

/**
 * Validate route
 */
definePageMeta({
    validate: (route) => {
        const npcsStorage = useStorage<IFaction[]>("factions", []);
        return !!npcsStorage.value.find((n) => n.id === route.params.id);
    },
});

/**
 * Computed
 */
const factionIndex = computed(() => factions.items.findIndex((n) => n.id === route.params.id));
const faction = computed((): IFaction => factions.items[factionIndex.value]);

/**
 * Hooks
 */
watch(
    () => faction.value.name,
    () => {
        const itemIndex = indexStore.items.findIndex((i) => i.id === route.params.id);
        if (itemIndex >= 0) indexStore.items[itemIndex].name = faction.value.name;
    },
);

/**
 * Methods
 */
const handleBookmark = () => {
    faction.value.bookmarked = indexStore.actions.bookmark({
        ..._pick(faction.value, ["createdAt", "name", "id"]),
        section: "factions",
    });

    if (faction.value.bookmarked) faction.value.archived = false;
};

const handleArchive = () => {
    faction.value.archived = !faction.value.archived;
    if (faction.value.archived && faction.value.bookmarked) handleBookmark();
};
</script>

<template>
    <div class="flex flex-col h-full">
        <header class="py-4 px-6 flex items-center justify-between border-b-4 border-stone-900">
            <!-- TODO: Add a back to list button here -->
            <div class="w-full">
                <div class="flex items-center">
                    <IconFactions class="mr-2 w-6 h-6 fill-stone-900" />
                    <p class="text-lg text-stone-900">{{ $t("factions.title") }}</p>
                </div>
                <FormInput v-model="faction.name" class="text-4xl mt-2" :placeholder="$t('factions.noName')" />
            </div>
            <div class="shrink-0">
                <BaseIconButton
                    icon="IconBookmark"
                    type="toggle"
                    :active="faction.bookmarked"
                    @click="handleBookmark" />
                <BaseIconButton icon="IconArchive" type="toggle" :active="faction.archived" @click="handleArchive" />
            </div>
        </header>
        <main class="three-columns-container h-full">
            <div class="three-columns-item">
                <FormTextarea
                    v-model="faction.description"
                    :auto-resize="true"
                    :label="$t('factions.label.description')"
                    :placeholder="$t('factions.placeholder.description')" />
                <FormRepeater
                    id="faction-details"
                    v-model="faction.details"
                    :label="$t('factions.label.details')"
                    :placeholder="$t('factions.placeholder.details')" />
                <FormRepeater
                    id="faction-goals"
                    v-model="faction.goals"
                    :label="$t('factions.label.goals')"
                    :placeholder="$t('factions.placeholder.goals')" />
            </div>
            <div class="three-columns-item">
                <FormTimeTrackingRepeater
                    id="faction-encounters"
                    v-model="faction.encounters"
                    :label="$t('factions.label.encounters')"
                    :placeholder="$t('factions.placeholder.encounters')" />
            </div>
            <div class="three-columns-item">
                <FormTimeTrackingRepeater
                    id="faction-development"
                    v-model="faction.development"
                    :label="$t('factions.label.development')"
                    :placeholder="$t('factions.placeholder.development')" />
            </div>
        </main>
    </div>
</template>
