<script lang="ts" setup>
import { sections } from "~/types/unions";
</script>

<template>
    <div class="flex h-full space-x-4">
        <div class="main-content w-1/4 space-y-2 border-r-4 border-stone-900">
            <NuxtLink
                v-for="section in sections"
                :key="section.name"
                :to="`/journal/${section.name}`"
                class="flex items-center group">
                <component :is="section.icon" class="w-4 h-4 mr-2" weight="bold" />
                <p class="font-bold">{{ $t(`${section.name}.title`, 2) }}</p>
            </NuxtLink>
        </div>
        <div class="main-content w-3/4">
            <p class="todo-feature">Campaign overview form!</p>
        </div>
    </div>
</template>
