<script lang="ts" setup>
/**
 * Props
 */
defineProps<{
    error: {
        statusCode: string;
        statusMessage: string;
    };
}>();
</script>

<template>
    <NuxtLayout>
        <div class="main-content">
            <h1 class="title">{{ error.statusCode }}</h1>
            <div>{{ error.statusMessage }}</div>
        </div>
    </NuxtLayout>
</template>

<style>
#__nuxt {
    height: 100%;
}
</style>
