<script lang="ts" setup>
import type { IconName } from "~/types/unions";

const model = defineModel<string>();

/**
 * Props
 */
defineProps<{
    icon: IconName;
    title: string;
}>();
</script>

<template>
    <div class="flex items-center pl-4">
        <component :is="icon" class="w-10 h-10 mr-4" />
        <h1 class="title">{{ title }}</h1>
        <FormInput v-model="model" class="ml-auto" :placeholder="$t('generic.placeholder.quickfilter')" bordered />
    </div>
</template>
