<script lang="ts" setup>
import type { SectionName } from "~/types/unions";

/**
 * Composables
 */
const dayjs = useDayjs();

/**
 * Props
 */
defineProps<{
    section: SectionName;
    item: {
        id: string;
        createdAt: string;
        name: string;
        bookmarked: boolean;
    };
}>();
</script>

<template>
    <NuxtLink :to="`/journal/${section}/${item.id}`" class="block">
        <article class="border-t-4 p-4 border-stone-900 flex">
            <div class="mt-1 w-8">
                <IconBookmark v-if="item.bookmarked" weight="fill" />
            </div>
            <div>
                <span class="inline-block font-bold text-sm">
                    {{ dayjs(item.createdAt).format("MM/DD/YYYY") }}
                </span>
                <h2 class="text-xl font-serif mt-2" :class="[item.name ? '' : 'text-stone-400']">
                    {{ item.name || $t(`${section}.noName`) }}
                </h2>
            </div>
        </article>
    </NuxtLink>
</template>
