<script lang="ts" setup>
/**
 * Composables
 */
const model = defineModel<string>();

/**
 * Props
 */
const { autoResize = false } = defineProps<{
    label?: string;
    placeholder?: string;
    autoResize?: boolean;
}>();

/**
 * Data
 */
const area = ref<null | HTMLTextAreaElement>(null);

defineExpose({ area });

/**
 * Hooks
 */
onMounted(() => {
    if (autoResize) resize();
});

/**
 * Methods
 */
const handleInput = () => {
    if (autoResize) resize();
};

const resize = () => {
    if (!area.value) return;

    // prevent when too small or not visible
    if (area.value.offsetHeight === 0) return;

    area.value.setAttribute("style", "1px");
    const scrollHeight = area.value.scrollHeight;

    area.value.setAttribute("style", `height: ${2 + scrollHeight}px !important;`);
};
</script>

<template>
    <label class="w-full relative">
        <span v-if="label" class="text-xs font-black">{{ label }}</span>
        <textarea
            ref="area"
            v-model="model"
            rows="1"
            class="block mt-1 w-full bg-transparent text-xl font-serif resize-none outline-none"
            :class="[autoResize ? 'overflow-hidden' : '']"
            :placeholder="placeholder"
            @input="handleInput"></textarea>
    </label>
</template>
