<script lang="ts" setup>
/**
 * Composables
 */
const model = defineModel<string>();

defineEmits<{
    (e: "blur"): void;
}>();

/**
 * Props
 */
defineProps<{
    placeholder: string;
    label?: string;
    bordered?: boolean;
    align?: "right" | "center";
}>();
</script>

<template>
    <label>
        <span v-if="label" class="block text-sm mb-1">{{ label }}</span>
        <input
            v-model="model"
            type="text"
            class="w-full h-full bg-transparent font-serif font-bold outline-none"
            :class="[
                bordered ? 'pl-2 pr-1.5 py-1 border-2 rounded-md border-stone-900 text-sm bg-white' : '',
                align === 'right' ? 'text-right' : '',
                align === 'center' ? 'text-center' : '',
            ]"
            :placeholder="placeholder"
            @blur="$emit('blur')" />
    </label>
</template>
