<script lang="ts" setup>
import type { Repeater } from "~/types/fields";

/**
 * Composables
 */
const model = defineModel<Repeater>({ required: true });

/**
 * Props
 */
defineProps<{
    id: string;
    label?: string;
    placeholder?: string;
}>();

/**
 * Data
 */
const items = ref<{ area: HTMLTextAreaElement }[]>([]);

/**
 * Hooks
 */
onBeforeMount(() => {
    if (model.value.length === 0) {
        model.value.push("");
    }
});

/**
 * Keyboard event handling
 */
const handleEnterKeyDown = (e: KeyboardEvent, i: number) => {
    // cancel when not at the last caracter or when shiftkey is presse
    if (items.value[i].area.selectionStart !== model.value[i].length || e.shiftKey) return;

    e.preventDefault();
    model.value.splice(i + 1, 0, ""); // push new entry
    nextTick(() => items.value[i + 1].area.focus()); // focus new input
};

const handleDeleteKeyDown = (e: Event, i: number) => {
    // cancel when the value is not empty
    if (model.value.length <= 1 || model.value[i].length > 0) return;

    e.preventDefault();
    model.value.splice(i, 1); // delete entry
    nextTick(() => items.value[i - 1].area.focus()); // focus previous input
};

const handleUpKeyDown = (e: Event, i: number) => {
    if (items.value[i].area.selectionStart !== 0) return;

    e.preventDefault();
    nextTick(() => items.value[i - 1].area.focus()); // focus previous input
};

const handleDownKeyDown = (e: Event, i: number) => {
    if (items.value[i].area.selectionStart !== model.value[i].length) return;

    e.preventDefault();
    nextTick(() => items.value[i + 1].area.focus()); // focus previous input
};
</script>

<template>
    <div class="">
        <span v-if="label" class="text-xs font-black">{{ label }}</span>
        <div v-for="(string, i) in model" :key="`repeater-${_kebabCase(id)}-${i}`" class="flex">
            <span class="block relative mr-2 text-2xl font-bold">&#x2022;</span>
            <FormTextarea
                ref="items"
                v-model="model[i]"
                :auto-resize="true"
                :placeholder="placeholder"
                @keydown.enter="handleEnterKeyDown($event, i)"
                @keydown.delete="handleDeleteKeyDown($event, i)"
                @keydown.up="handleUpKeyDown($event, i)"
                @keydown.down="handleDownKeyDown($event, i)" />
        </div>
    </div>
</template>
