<script lang="ts" setup>
import type { TimeTrackingRepeater } from "~/types/fields";

/**
 * Composables
 */
const model = defineModel<TimeTrackingRepeater>({ required: true });
const settings = useSettingsStore();

/**
 * Props
 */
defineProps<{
    id: string;
    label?: string;
    placeholder?: string;
}>();

/**
 * Data
 */
const items = ref<{ area: HTMLTextAreaElement }[]>([]);

/**
 * Hooks
 */
onBeforeMount(() => {
    if (model.value.length === 0) {
        model.value.push({
            day: "0",
            text: "",
        });
    }
});

/**
 * Keyboard event handling
 */
const handleEnterKeyDown = (e: KeyboardEvent, i: number) => {
    // cancel when not at the last caracter or when shiftkey is presse
    if (items.value[i].area.selectionStart !== model.value[i].text.length || e.shiftKey) return;

    e.preventDefault();
    model.value.splice(i + 1, 0, {
        day: "0",
        text: "",
    }); // push new entry
    nextTick(() => items.value[i + 1].area.focus()); // focus new input
};

const handleDeleteKeyDown = (e: Event, i: number) => {
    // cancel when the value is not empty
    if (model.value.length <= 1 || model.value[i].text.length > 0) return;

    e.preventDefault();
    model.value.splice(i, 1); // delete entry
    nextTick(() => items.value[i - 1].area.focus()); // focus previous input
};

const handleUpKeyDown = (e: Event, i: number) => {
    if (items.value[i].area.selectionStart !== 0) return;

    e.preventDefault();
    nextTick(() => items.value[i - 1].area.focus()); // focus previous input
};

const handleDownKeyDown = (e: Event, i: number) => {
    if (items.value[i].area.selectionStart !== model.value[i].text.length) return;

    e.preventDefault();
    nextTick(() => items.value[i + 1].area.focus()); // focus previous input
};

/**
 * Input handling
 */
const handleDayBlur = (i: number) => {
    const newDay = parseInt(model.value[i].day);
    model.value[i].day = newDay >= 1 ? newDay.toString() : "1";
};
</script>

<template>
    <div class="">
        <span v-if="label" class="text-xs font-black">{{ label }}</span>
        <div v-for="(string, i) in model" :key="`repeater-${_kebabCase(id)}-${i}`" class="flex flex-col mb-4">
            <div class="flex">
                <span class="block relative mr-2 text-2xl font-bold">&#x2022;</span>
                <p class="mr-2 mb-2 text-stone-600 leading-[4px]">
                    {{ $t("generic.happenedOn") }}
                    <FormInput
                        v-model="model[i].day"
                        class="w-[48px] !inline-block mx-2"
                        align="center"
                        placeholder="0"
                        bordered
                        @blur="handleDayBlur(i)" />
                    {{
                        $t("generic.happenedDaysAgo", {
                            days: parseInt(settings.general.currentDay) - parseInt(model[i].day),
                        })
                    }}
                </p>
            </div>
            <FormTextarea
                ref="items"
                v-model="model[i].text"
                class="pl-4"
                :auto-resize="true"
                :placeholder="placeholder"
                @keydown.enter="handleEnterKeyDown($event, i)"
                @keydown.delete="handleDeleteKeyDown($event, i)"
                @keydown.up="handleUpKeyDown($event, i)"
                @keydown.down="handleDownKeyDown($event, i)" />
        </div>
    </div>
</template>
