<script lang="ts" setup>
import { useStorage } from "@vueuse/core";

/**
 * Type imports
 */
import type { IQuest } from "~/types/quest";

/**
 * Composables
 */
const route = useRoute();
const indexStore = useIndexStore();
const quests = useQuestsStore();

/**
 * Validate route
 */
definePageMeta({
    validate: (route) => {
        const questsStorage = useStorage<IQuest[]>("quests", []);
        return !!questsStorage.value.find((q) => q.id === route.params.id);
    },
});

/**
 * Computed
 */
const questIndex = computed(() => quests.items.findIndex((q) => q.id === route.params.id));
const quest = computed((): IQuest => quests.items[questIndex.value]);

/**
 * Hooks
 */
watch(
    () => quest.value.name,
    () => {
        const itemIndex = indexStore.items.findIndex((i) => i.id === route.params.id);
        if (itemIndex >= 0) indexStore.items[itemIndex].name = quest.value.name;
    },
);

/**
 * Methods
 */
const handleBookmark = () => {
    quest.value.bookmarked = indexStore.actions.bookmark({
        ..._pick(quest.value, ["createdAt", "name", "id"]),
        section: "quests",
    });

    if (quest.value.bookmarked) quest.value.archived = false;
};

const handleArchive = () => {
    quest.value.archived = !quest.value.archived;
    if (quest.value.archived && quest.value.bookmarked) handleBookmark();
};
</script>

<template>
    <div class="flex flex-col h-full">
        <header class="py-4 px-6 flex items-center justify-between border-b-4 border-stone-900">
            <!-- TODO: Add a back to list button here -->
            <div class="w-full">
                <div class="flex items-center">
                    <IconQuests class="mr-2 w-6 h-6 fill-stone-900" />
                    <p class="text-lg text-stone-900">{{ $t("quests.title") }}</p>
                </div>
                <FormInput v-model="quest.name" class="text-4xl mt-2" :placeholder="$t('quests.noName')" />
            </div>
            <div class="shrink-0">
                <BaseIconButton icon="IconBookmark" type="toggle" :active="quest.bookmarked" @click="handleBookmark" />
                <BaseIconButton icon="IconArchive" type="toggle" :active="quest.archived" @click="handleArchive" />
            </div>
        </header>
        <main class="three-columns-container h-full">
            <div class="three-columns-item">
                <FormTextarea
                    v-model="quest.description"
                    :auto-resize="true"
                    :label="$t('quests.label.introduction')"
                    :placeholder="$t('quests.placeholder.introduction')" />
                <FormRepeater
                    id="quest-rewards"
                    v-model="quest.rewards"
                    :label="$t('quests.label.rewards')"
                    :placeholder="$t('quests.placeholder.rewards')" />
                <FormRepeater
                    id="quest-milestones"
                    v-model="quest.milestones"
                    :label="$t('quests.label.milestones')"
                    :placeholder="$t('quests.placeholder.milestones')" />
            </div>
            <div class="three-columns-item">
                <FormTimeTrackingRepeater
                    id="quest-progression"
                    v-model="quest.progression"
                    :label="$t('quests.label.progression')"
                    :placeholder="$t('quests.placeholder.progression')" />
            </div>
            <div class="three-columns-item">
                <FormTimeTrackingRepeater
                    id="quest-development"
                    v-model="quest.development"
                    :label="$t('quests.label.development')"
                    :placeholder="$t('quests.placeholder.development')" />
            </div>
        </main>
    </div>
</template>
