<script lang="ts" setup>
import { useStorage } from "@vueuse/core";
import { locales } from "@/types/unions";

/**
 * Composables
 */
const i18n = useI18n();
const i18nStorage = useStorage("locale", "fr-CA");

/**
 * Hooks
 */
watch(i18n.locale, (newLocale) => {
    i18nStorage.value = newLocale;
});
</script>

<template>
    <header class="h-[56px] flex items-center py-2 bg-stone-900 text-stone-100 font-sans">
        <div class="w-[280px] px-4">
            <NuxtLink to="/">
                <IconJournal class="w-10 h-10 fill-stone-100" />
            </NuxtLink>
        </div>
        <div class="flex items-center px-6">
            <NuxtLink to="/journal" class="border-b border-stone-100">{{ $t("generic.journal") }}</NuxtLink>
        </div>
        <div class="flex items-center px-6 ml-auto">
            <div class="relative pl-2 pr-6 py-1">
                <select v-model="$i18n.locale" class="bg-stone-900 appearance-none">
                    <option v-for="lang in locales" :key="`locale-${lang}`" :value="lang">
                        {{ $t(lang) }}
                    </option>
                </select>
                <IconCaretDown class="absolute right-0 top-1/2 -translate-y-1/2" />
            </div>
        </div>
    </header>
</template>
