<script lang="ts" setup>
/**
 * Type imports
 */
import { sections } from "~/types/unions";
import type { SectionName } from "~/types/unions";

/**
 * Local Types
 */
type IndexView = "list" | "create";

/**
 * Composables
 */
const index = useIndexStore();
const settings = useSettingsStore();

/**
 * Data
 */
const view = ref<IndexView>("list");
const quickfilter = ref("");

/**
 * Computed
 */
const filteredIndexItems = computed(() => {
    return index.items.filter((i) => i.name.toLowerCase().includes(quickfilter.value.toLowerCase()));
});

/**
 * Methods
 * Index view management
 */
const handleViewChange = () => {
    if (view.value === "create") view.value = "list";
    else if (view.value === "list") view.value = "create";
};

const handleCreateSection = (section: SectionName) => {
    const newSection = index.actions.create(section);
    if (!newSection) return;

    navigateTo(`/journal/${section}/${newSection.id}`);
    view.value = "list";
};

/**
 * Methods
 * Settings day management
 */
const handleDayBlur = () => {
    settings.general.currentDay = parseInt(settings.general.currentDay).toString();
};

const handleMinusDay = () => {
    const newDay = parseInt(settings.general.currentDay) - 1;
    settings.general.currentDay = newDay >= 1 ? newDay.toString() : "1";
};

const handlePlusDay = () => {
    settings.general.currentDay = (parseInt(settings.general.currentDay) + 1).toString();
};
</script>

<template>
    <aside
        class="h-[calc(100vh-56px)] max-h-[calc(100vh-56px)] flex flex-col bg-stone-300 p-4 border-r-4 border-stone-900">
        <div class="flex space-x-2">
            <FormInput
                v-model="quickfilter"
                class="h-full"
                :placeholder="$t('generic.placeholder.quickfilter')"
                bordered />
            <BaseIconButton :icon="view === 'list' ? 'IconPlus' : 'IconList'" type="normal" @click="handleViewChange" />
        </div>
        <div class="overflow-y-auto pr-2 my-4">
            <div v-show="view === 'list'">
                <NuxtLink
                    v-for="item in filteredIndexItems"
                    :key="item.id"
                    :to="`/journal/${item.section}/${item.id}`"
                    class="flex py-2 border-b-2 border-stone-900 last:border-b-0">
                    <div>
                        <p class="text-sm">{{ $t(`${item.section}.title`) }}</p>
                        <div class="flex items-center">
                            <component :is="`Icon${_capitalize(item.section)}`" class="w-4 h-4 mr-2" weight="bold" />
                            <p class="font-serif font-bold" :class="[item.name ? '' : 'text-stone-400']">
                                {{ item.name || $t(`${item.section}.noName`) }}
                            </p>
                        </div>
                    </div>
                </NuxtLink>
            </div>
            <div v-show="view === 'create'">
                <p class="font-bold mb-2">{{ $t("sidebar.addSection") }}</p>
                <div
                    v-for="section in sections"
                    :key="section.name"
                    class="flex items-center py-2 cursor-pointer"
                    @click="handleCreateSection(section.name)">
                    <component :is="section.icon" class="h-6 w-6 mr-2" />
                    <p class="font-sans text-xl">{{ $t(`${section.name}.title`) }}</p>
                </div>
            </div>
        </div>
        <div class="space-y-2 border-t-4 border-stone-900 -mx-4 mt-auto p-4">
            <p class="text-sm font-bold">{{ $t("settings.general") }}</p>
            <div class="flex items-center space-x-2">
                <p class="mr-auto">{{ $t("settings.currentDay") }}</p>
                <BaseIconButton icon="IconMinus" type="small" class="hover:!bg-stone-200" @click="handleMinusDay" />
                <FormInput
                    v-model="settings.general.currentDay"
                    class="ml-auto w-[48px]"
                    placeholder=""
                    align="center"
                    bordered
                    @blur="handleDayBlur" />
                <BaseIconButton icon="IconPlus" type="small" class="hover:!bg-stone-200" @click="handlePlusDay" />
            </div>
            <div class="flex items-center space-x-2 pr-12">
                <p>{{ $t("settings.currentWeather") }}</p>
                <FormInput v-model="settings.general.currentWeather" placeholder="" align="right" bordered />
            </div>
        </div>
    </aside>
</template>
