<script lang="ts" setup>
import { useStorage } from "@vueuse/core";

/**
 * Type imports
 */
import type { INpc } from "~/types/npc";

/**
 * Composables
 */
const route = useRoute();
const indexStore = useIndexStore();
const npcs = useNpcsStore();

/**
 * Validate route
 */
definePageMeta({
    validate: (route) => {
        const npcsStorage = useStorage<INpc[]>("npcs", []);
        return !!npcsStorage.value.find((n) => n.id === route.params.id);
    },
});

/**
 * Computed
 */
const npcIndex = computed(() => npcs.items.findIndex((n) => n.id === route.params.id));
const npc = computed((): INpc => npcs.items[npcIndex.value]);

/**
 * Hooks
 */
watch(
    () => npc.value.name,
    () => {
        const itemIndex = indexStore.items.findIndex((i) => i.id === route.params.id);
        if (itemIndex >= 0) indexStore.items[itemIndex].name = npc.value.name;
    },
);

/**
 * Methods
 */
const handleBookmark = () => {
    npc.value.bookmarked = indexStore.actions.bookmark({
        ..._pick(npc.value, ["createdAt", "name", "id"]),
        section: "npcs",
    });

    if (npc.value.bookmarked) npc.value.archived = false;
};

const handleArchive = () => {
    npc.value.archived = !npc.value.archived;
    if (npc.value.archived && npc.value.bookmarked) handleBookmark();
};
</script>

<template>
    <div class="flex flex-col h-full">
        <header class="py-4 px-6 flex items-center justify-between border-b-4 border-stone-900">
            <!-- TODO: Add a back to list button here -->
            <div class="w-full">
                <div class="flex items-center">
                    <IconNpcs class="mr-2 w-6 h-6 fill-stone-900" />
                    <p class="text-lg text-stone-900">{{ $t("npcs.title") }}</p>
                </div>
                <FormInput v-model="npc.name" class="text-4xl mt-2" :placeholder="$t('npcs.noName')" />
            </div>
            <div class="shrink-0">
                <BaseIconButton icon="IconBookmark" type="toggle" :active="npc.bookmarked" @click="handleBookmark" />
                <BaseIconButton icon="IconArchive" type="toggle" :active="npc.archived" @click="handleArchive" />
            </div>
        </header>
        <main class="three-columns-container h-full">
            <div class="three-columns-item">
                <FormTextarea
                    v-model="npc.description"
                    :auto-resize="true"
                    :label="$t('npcs.label.description')"
                    :placeholder="$t('npcs.placeholder.description')" />
                <FormRepeater
                    id="npc-details"
                    v-model="npc.details"
                    :label="$t('npcs.label.details')"
                    :placeholder="$t('npcs.placeholder.details')" />
                <FormRepeater
                    id="npc-goals"
                    v-model="npc.goals"
                    :label="$t('npcs.label.goals')"
                    :placeholder="$t('npcs.placeholder.goals')" />
            </div>
            <div class="three-columns-item">
                <FormTimeTrackingRepeater
                    id="npc-encounters"
                    v-model="npc.encounters"
                    :label="$t('npcs.label.encounters')"
                    :placeholder="$t('npcs.placeholder.encounters')" />
            </div>
            <div class="three-columns-item">
                <FormTimeTrackingRepeater
                    id="npc-development"
                    v-model="npc.development"
                    :label="$t('npcs.label.development')"
                    :placeholder="$t('npcs.placeholder.development')" />
            </div>
        </main>
    </div>
</template>
