<script lang="ts" setup>
/**
 * Type imports
 */
import type { INpc } from "~/types/npc";

/**
 * Composables
 */
const npcs = useNpcsStore();

/**
 * Data
 */
const quickfilter = ref("");

/**
 * Computed
 */
const items = computed<INpc[]>(() => {
    return _orderBy(
        npcs.items.filter((i) => i.name.toLowerCase().includes(quickfilter.value.toLowerCase()) && !i.archived),
        ["bookmarked", "createdAt"],
        ["desc", "desc"],
    );
});

const archived = computed<INpc[]>(() => {
    return npcs.items.filter((i) => i.archived);
});
</script>

<template>
    <div class="main-content">
        <SectionListHeader v-model="quickfilter" icon="IconNpcs" :title="$t('npcs.title', 2)" />
        <section class="mt-6 border-stone-900">
            <template v-if="items.length > 0 || archived.length > 0">
                <div v-if="items.length > 0" class="border-b-4 border-stone-900">
                    <SectionListItem v-for="item in items" :key="item.id" :item="item" section="npcs" />
                </div>
                <div v-if="archived.length > 0" class="opacity-50 border-b-4 border-stone-900">
                    <p class="pl-4 mt-12 mb-6 text-lg font-bold">Les archives</p>
                    <SectionListItem v-for="item in archived" :key="item.id" :item="item" section="npcs" />
                </div>
            </template>
            <div v-else class="py-10 border-b-4 border-stone-900">
                <p class="italic">{{ $t("npcs.emptyList") }}</p>
            </div>
        </section>
    </div>
</template>
