@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-color: theme('colors.stone.500') theme('colors.stone.300');
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    /* Customize the scrollbar width */
}

::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
}

::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
}

@layer components {
  /**
   * Helper classes
   */
  .todo-feature {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: theme('colors.red.500');
    border-radius: theme('borderRadius.md');
    padding: theme('spacing.1') theme('spacing.2');
    color: theme('colors.white');
  }

  /**
   * Font classes
   */
  .title {
    font-size: theme('fontSize.4xl');
    line-height: 1;
  }

  /**
   * Layout classes
   */
  .main-content {
    padding: theme('spacing.6') theme('spacing.6');
    max-height: calc(100vh - 56px);
    overflow-y: auto;
  }

  .three-columns-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: theme('spacing.1');
    background-color: theme('colors.stone.900');
  }

  .three-columns-item {
    @apply flex flex-col space-y-4;
    background-color: theme('colors.stone.200');
    padding: theme('spacing.4');
  }
}