<script lang="ts" setup>
import type { IconName } from "~/types/unions";

type ButtonStyle = "normal" | "small" | "toggle";

/**
 * Props
 */
defineProps<{
    icon: IconName;
    type: ButtonStyle;
    active?: boolean;
}>();

const buttonClass = computed<Record<ButtonStyle, string>>(() => ({
    normal: "rounded-md bg-stone-600 hover:bg-stone-700",
    small: "rounded-md hover:bg-stone-100",
    toggle: "rounded-md hover:bg-stone-100",
}));

const iconClass = computed<Record<ButtonStyle, string>>(() => ({
    normal: "fill-stone-200",
    small: "",
    toggle: "",
}));
</script>

<template>
    <button class="p-2" :class="[buttonClass[type]]">
        <component
            :is="icon"
            class="!w-6 !h-6"
            :class="[iconClass[type]]"
            :weight="active && type === 'toggle' ? 'fill' : 'regular'" />
    </button>
</template>
