<script lang="ts" setup>
useHead({
    bodyAttrs: {
        class: "min-h-screen h-1 bg-stone-200",
    },
});
</script>

<template>
    <div class="h-full">
        <DefaultHeader />
        <div class="grid grid-cols-[280px_1fr] h-[calc(100%-56px)]">
            <DefaultIndex />
            <main><slot /></main>
        </div>
    </div>
</template>
