<script lang="ts" setup></script>

<template>
    <div class="main-content">
        <h1 class="title mb-4">Here's some tips on how to use this journal.</h1>
        <p class="todo-feature">Write it out!</p>
    </div>
</template>
